* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #8f8fa1;
}

#content {
    margin: 50px auto;
    max-width: 550px;
}

input, textarea, select, button {
    height: 60px;
    padding: 0 32px;
    width: 100%;
    border-radius: 30px;
    outline: none;
    border: none;
    color: #8f8fa1;
    font-size: 21px;
}

.field {
    padding: 10px 0;
}

textarea {
    min-height: 215px;
    padding: 32px;
}

#content label {
    display: block;
    padding: 8px;
    font-size: 24px;
}

#content button {
    background: white;
    cursor: pointer;
}

#result {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 330px;
}